
<div class="container">
    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    
    <div class="card mb-3">
        <img class="card-img-top" [src]="recipeDetails.recipe.image_url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{recipeDetails.recipe.title}}</h5>
            <ol>
            <li *ngFor="let element of recipeDetails.recipe.ingredients ">{{element}}</li>
            </ol>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>
