.container {
    margin: auto;
}

.recipeHolder {
    margin-bottom: 15px;
}

.home-banner {
    width: 100%;
    text-align: center;
    padding: 50px;
    background: url("../../../images/vecteezy_close-up-of-a-cheeseburger-on-a-wooden-table-with-blue_46096110.jpeg") no-repeat;
    background-size: cover;
    object-fit:cover;
    color: #FFF;
    margin-bottom: 30px;
}